nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') NoteLikho
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/users') View Notes
        li
          a(href='/notes') Enter Notes

      ul.nav.navbar-nav.navbar-right
        li
          a(href='/logout')
            span.glyphicon.glyphicon-user
            |  Login / Logout
        //- li
        //-   a(href='#')
        //-     span.glyphicon.glyphicon-log-in
        //-     |  Login