body {
  background-image: url('https://imgbox.io/ib/jEPvi5xrQP.png');
  background-size: 100px 100px;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

